.tv-visualization,
.tv-visualization img {
  width: 100%;
}
.tv-visualization {
  position: relative;
}
.tv-visualization img {
  z-index: 0;
}
.tv-visualization .tv-map {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
body {
  position: relative;
}
#tv-modal {
  padding: 35px 20px;
  position: absolute;
  width: 840px;
  left: 50%;
  margin-left: -440px;
  background: #FFF;
  z-index: 10000;
}
#tv-modal .cols2 .tv-content {
  width: 400px;
  float: left;
}
#tv-modal .cols1 .tv-text {
  width: 100%;
  -webkit-columns: 2;
  -moz-columns: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
}
#tv-modal .tv-featured-image {
  float: right;
  width: 400px;
  margin: 0 0 40px 40px;
  overflow: hidden;
}
#tv-modal .tv-featured-image img {
  max-width: 100%;
}
#tv-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0,0,0,.65);
}

/**
 * CUSTOMIZE TO YOUR TEMPLATE
 */
.tv-header {
}
.tv-text {
}